@{
    ViewData["Title"] = "About XYZ ";
}
    <article>
        
        <article>
            <div class="jumbotron bg-primary">
                <h2 class="text-danger">XYZ Detective Agency</h2>
                <img src="~/Images/scooby-and-scrappy.jpg" alt="Scooby and Scrappy" class="img-fluid rounded-circle" />
            </div>
        </article>
        <p>
            Our agency was founded in 1960 by Scooby and Scrappy Doo.
            The agency expanded in the 1980's across the United States and is now the top
            agency in the midwest.
        </p>
        <p>
            In 2000, the agency expanded to Europe and in 2020, the agency will also be
            in Africa and Austrailia.
        </p>
    </article>
